.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-image-1 {
  width: 420px;
  left: 0;
  right: auto;
}

.u-section-1 .u-list-1 {
  min-height: 418px;
  grid-template-columns: 50% 50%;
  width: 670px;
  grid-gap: 0px 0px;
  height: auto;
  margin: 188px 29px 60px auto;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px -19px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: -19px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px -19px 0 0;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: -19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-list-1 {
    min-height: 246px;
    width: 810px;
    margin-top: 99px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-list-1 {
    width: 635px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-1 .u-image-1 {
    width: 369px;
    height: 1069px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: 305px;
    margin-top: 78px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-1 .u-image-1 {
    width: 271px;
    height: 1153px;
  }

  .u-section-1 .u-list-1 {
    width: 292px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
  }
}